---
layout: default
title: Bernardo de Almeida
---

<div class="row">
    <div class="column left">
        <img class="center" src="{{ site.data.site_info.photo }}" alt="Avatar" style="width:300px">
        <br/>
        <p style="text-align:center"><strong><i>{{ site.data.site_info.title }}</i></strong></p>
        <br/>
        <p><i>"{{ site.data.site_info.quote }}"</i></p>
        <p style="margin:0;padding-top:0;text-align:right">{{ site.data.site_info.quote_author }}</p>
    </div>
    <div class="column right">
        <h1>{{ site.data.site_info.name }}</h1>
        <p>{{ site.data.site_info.bio }}</p>
        <br/>
        <h1>News</h1>
        {% for item in site.data.news %}
          {% include news-item.html news=item %}
          <br/>
        {% endfor %}
        <br/>
        <br/>
        <h1>Research highlights</h1>
        {% for highlight in site.data.research_highlights %}
          {% include research-highlight.html highlight=highlight %}
        {% endfor %}
        <br/>
        <br/>
        <p>Full <a href="/publications/" class="link">publications</a> list.</p>
    </div>
</div>
