---
layout: default
title: Code
---

<div class="code-page">
	<div class="code-header">
		<h1 class="code-header__title">Publications</h1>
	</div>

	<section class="code-section">
		<h2 class="code-section__title">Selected</h2>
		<div class="code-projects">
			{% for pub in site.data.publications.selected %}
				{% if pub.links %}
					<div class="code-project-card">
						<h3 class="code-project-card__title">
							<a href="{{ pub.url }}">{{ pub.title }}</a>
						</h3>
						<p class="code-project-card__description">
							{{ pub.authors }}. <em>{{ pub.journal }}</em> {{ pub.year }}
						</p>
						<div class="code-project-card__links">
							{% for link in pub.links %}
								<a href="{{ link.url }}" class="link-button">{{ link.text }}</a>
							{% endfor %}
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</section>

	<section class="code-section">
		<h2 class="code-section__title">Preprints</h2>
		<div class="code-projects">
			{% for pub in site.data.publications.preprints %}
				{% if pub.links %}
					<div class="code-project-card">
						<h3 class="code-project-card__title">
							<a href="{{ pub.url }}">{{ pub.title }}</a>
						</h3>
						<p class="code-project-card__description">
							{{ pub.authors }}. <em>{{ pub.journal }}</em> {{ pub.year }}
							{% if pub.additional_text %}
								<br>{{ pub.additional_text }}
							{% endif %}
						</p>
						<div class="code-project-card__links">
							{% for link in pub.links %}
								<a href="{{ link.url }}" class="link-button">{{ link.text }}</a>
							{% endfor %}
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</section>

	<section class="code-section">
		<h2 class="code-section__title">Others</h2>
		<div class="code-projects">
			{% for pub in site.data.publications.others %}
				{% if pub.links %}
					<div class="code-project-card">
						<h3 class="code-project-card__title">
							<a href="{{ pub.url }}">{{ pub.title }}</a>
						</h3>
						<p class="code-project-card__description">
							{{ pub.authors }}. <em>{{ pub.journal }}</em> {{ pub.year }}
							{% if pub.additional_text %}
								<br>{{ pub.additional_text }}
							{% endif %}
						</p>
						<div class="code-project-card__links">
							{% for link in pub.links %}
								<a href="{{ link.url }}" class="link-button">{{ link.text }}</a>
							{% endfor %}
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</section>

	<section class="code-section">
		<h2 class="code-section__title">Softwares</h2>
		<div class="code-projects">
			{% for software in site.data.publications.softwares %}
				<div class="code-project-card">
					<h3 class="code-project-card__title">
						<a href="{{ software.url }}">{{ software.title }}</a>
					</h3>
					<p class="code-project-card__description">
						{{ software.authors }}. {{ software.journal }}
					</p>
					{% if software.links %}
					<div class="code-project-card__links">
						{% for link in software.links %}
							<a href="{{ link.url }}" class="link-button">{{ link.text }}</a>
						{% endfor %}
					</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</section>

	<section class="code-resources">
		<h2 class="code-section__title">Other resources</h2>
		<div class="code-resources__item">
			<h3 class="code-resources__item-title">Reference compendium of non-redundant TF motifs</h3>
			<p class="code-resources__item-description">
				Clustering of 6,502 TF motif models from multiple species (mostly focused on <em>Drosophila</em> and human) by similarity to remove redundancy
			</p>
			<a href="https://github.com/bernardo-de-almeida/motif-clustering" class="link-button">CODE</a>
		</div>
	</section>

	<p class="code-footer">
		Check my <a href="https://github.com/bernardo-de-almeida">GitHub</a> account for more details.
	</p>
</div>
