<footer>
    <ul>
        <li><a href="mailto:bernardo.almeida94@gmail.com">E-mail</a></li>
        <li><a href="https://twitter.com/deAlmeida_BP">Twitter</a></li>
        <li><a href="https://github.com/bernardo-de-almeida">GitHub</a></li>
        <li><a href="https://www.researchgate.net/profile/Bernardo-De-Almeida-2">ResearchGate</a></li>
        <li><a href="https://www.linkedin.com/in/bpalmeida/">LinkedIn</a></li>
        <li><a href="https://orcid.org/0000-0002-6084-6775">ORCID</a></li>
    </ul>
</footer>
