<div class="footer">
	<div class="footer-container">
		<ul class="footer-menu">
			<li><a href="mailto:{{ site.data.site_info.email }}" class="footer-link">E-mail</a></li>
			<li><a href="{{ site.data.site_info.twitter }}" class="footer-link">Twitter</a></li>
			<li><a href="{{ site.data.site_info.github }}" class="footer-link">GitHub</a></li>
			<li><a href="{{ site.data.site_info.researchgate }}" class="footer-link">ResearchGate</a></li>
			<li><a href="{{ site.data.site_info.linkedin }}" class="footer-link">LinkedIn</a></li>
			<li><a href="{{ site.data.site_info.orcid }}" class="footer-link">ORCID</a></li>
		</ul>
		<p class="footer-copyright">&copy; {{ 'now' | date: "%Y" }} Bernardo P. de Almeida</p>
	</div>
</div>
