<article class="news-item">
	{% if include.news.date %}
	<span class="news-item__date">{{ include.news.date }}</span>
	{% endif %}
	
	{% if include.news.images %}
	<div class="news-item__images">
		{% for image in include.news.images %}
			<img src="{{ image }}" alt="News image {{ forloop.index }}" loading="lazy">
		{% endfor %}
	</div>
	{% endif %}
	
	<p class="news-item__text">{{ include.news.text }}</p>
	
	{% if include.news.additional_text %}
	<p class="news-item__additional-text">{{ include.news.additional_text }}</p>
	{% endif %}
	
	{% if include.news.video %}
	<div class="news-item__video">
		<iframe src="{{ include.news.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	{% endif %}
</article>
