---
layout: default
title: Publications
---

<br/>

<div style="width:70%;margin-left:auto;margin-right:auto;">
  <h1>Publications</h1>

  {% assign total_count = site.data.publications.selected.size | plus: site.data.publications.preprints.size | plus: site.data.publications.others.size | plus: site.data.publications.workshop_papers.size %}

  <h2>Selected</h2>
  {% for pub in site.data.publications.selected %}
    {% assign pub_number = total_count | minus: forloop.index0 %}
    {% include publication.html pub=pub number=pub_number %}
  {% endfor %}

  {% assign selected_count = site.data.publications.selected.size %}

  <h2>Preprints</h2>
  {% for pub in site.data.publications.preprints %}
    {% assign pub_number = total_count | minus: selected_count | minus: forloop.index0 %}
    {% include publication.html pub=pub number=pub_number %}
  {% endfor %}
  <br/>

  {% assign preprints_count = site.data.publications.preprints.size %}

  <h2>Others</h2>
  {% for pub in site.data.publications.others %}
    {% assign pub_number = total_count | minus: selected_count | minus: preprints_count | minus: forloop.index0 %}
    {% include publication.html pub=pub number=pub_number %}
  {% endfor %}

  {% assign others_count = site.data.publications.others.size %}

  <h2>Workshop papers</h2>
  {% for pub in site.data.publications.workshop_papers %}
    {% assign pub_number = total_count | minus: selected_count | minus: preprints_count | minus: others_count | minus: forloop.index0 %}
    {% include publication.html pub=pub number=pub_number %}
  {% endfor %}

  <h2>PhD Thesis</h2>
  {% for pub in site.data.publications.phd_thesis %}
    <p class="pub" style="margin:0">{{ pub.authors }}. <a href="{{ pub.url }}" class="paper">{{ pub.title }}</a>. {{ pub.year }}</p>
  {% endfor %}

  <br/>
  <p>For an automatically updated version, check <a href="https://scholar.google.com/citations?hl=pt-PT&user=Tm0lHHsAAAAJ" class="link">Google Scholar</a>, <a href="https://pubmed.ncbi.nlm.nih.gov/?term=de+Almeida%2C+Bernardo+P.%5BAuthor%5D" class="link">PubMed</a> or <a href="https://orcid.org/0000-0002-6084-6775" class="link">ORCID</a>.</p>

  <br/>
  <h2 id="softwares">Softwares</h2>
  {% for software in site.data.publications.softwares %}
    {% include publication.html pub=software %}
  {% endfor %}

  <br/>
  <p>* equal contribution, § shared corresponding author</p>
</div>

<br/>
<br/>
